<!DOCTYPE html>
{% extends 'LRnavbar.html' %}
<html>
{% block body %}
  <head>
    <title>About Us</title>
    <link rel="stylesheet" href="about.css">
    <style>
      body {
  background-image: url('/static/background.jpg');
}
    </style>
  </head>
<div class="about-section">
  <h1>About Us Page</h1>
  <p>WHAT IS EVENT MANAGEMENT SYSTEM</p>
  <p>An Event Management System (or Event Management Software) helps organizers plan, execute and report on events, driving success for their business.
    An Event Management System provides campus event planners a flexible, fully integrated solution to simplify the event management process and keep your customers, faculty and students happy, while maintaining important reports and data for making real estate and future planning decisions.
  </p>

</div>


<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://4.imimg.com/data4/WR/TX/MY-23918569/wedding-reception-event-services-500x500.jpg " alt="Jane" style="width:100%">
      <div class="container">
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">

      <div class="container">

        <h2 style="text-align:center">Our Team</h2>
        <h2>Keerthana</h2>
        <img src="/static/kee.jpg" class="rounded float-right" alt="..." width="100px">
        <p class="title">Full Stack Developer</p>

        <p>keerthanareddy77d@gmail.com</p>

      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">

      <div class="container">
        <h2>Rupavathi</h2>
        <img src="/static/rupa.jpg" class="rounded float-right" alt="..." width="100px">
        <p class="title">Full Stack Developer</p>
        <p>rupavathil219@gmail.com</p>

      </div>
    </div>
  </div>
</div>
</html>
{% endblock %}