<!DOCTYPE html>
{% extends 'Navbar.html' %}
<html>
{% block body %}
  <head>
    <title>Slideshow Images</title>
    <style>
    body {
  background-image: url('/static/background.jpg');
}

    </style>

  </head>
  <body>
    <center>
          <br/>
          <br/>
      <h1 style="color:white"> Hurry! Your registration completed successfully</h1>
        <img src="/static/done.jpg">
      <br/><br/>
<a class="btn btn-primary" href="/loginpagehtml" role="button">Login to your account</a>
     </center>
  </body>
{% endblock %}
</html>